# virtual environment directory
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# scanpy generated figures
figures/

# Distribution / packaging
build/
lib/
*.egg
*.egg-info/

# outputs from benchmarking
benchmark/scpydr_results
benchmark/scpydr_results/
